div {
    height: 300px;
    width: 500px;
    background-color: rgb(220, 164, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

#btn {
    width: 100px;
    height: 80px;
    color: rgb(108, 108, 243);
    border-radius: 10%;
    font-size: large;
    font-weight: bold;
    padding: 3px;
    border: 3px solid rgb(170, 85, 167);
    box-shadow:rgb(83, 75, 67);
}